<div class="col-md-6">
    <!-- <h1>My Goals</h1> -->
    <!-- <hr> -->
    <ul>
      <div *ngFor='let kik of kiki;let a = index'>
        <li>
          <p>{{kik.id}}</p>
          <p>{{kik.quote}}</p>
          <p>{{kik.author}}</p>
         
        </li>
        <button (click)='toggleDetails(a)'>showDateDescription</button>
        <app-quote-detail *ngIf='kik.showDescription' [kiki]='kik'(isComplete)='unNeededQuote($event,a)'></app-quote-detail>
      </div>
    </ul>
    <!-- <div *ngFor='let kik of kiki;let c = index'>
        <li>{{kik.author}} due on {{kik.completeDate|date}}</li> -->
    <!-- <app-date-details></app-date-details> -->

    <!-- <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form> -->
  </div>
  <app-votes></app-votes>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  
