<div class="container-fluid">
        <h2 class="text-center">Write a quote you like to share with others</h2>
        <hr>
        <form>
            <div class="form-group">
                <label for="Quote">Quote</label>
                <textarea class="form-control" id="Quote" rows="4" required></textarea>
              
            </div>
            <div class="form-group">
      
                <label for="author"></label>
                <input type="text" required class="form-control" id="author">
      
            </div>
            <div class="form-group">
                    <label for="dateOfCompletion">Date</label>
                    <input type='date' id="date" required>
            </div>
        </form>
</div>
        